<footer class="guest-footer">  
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center gap-3 py-4">
    <div class="text-center text-md-start w-50 left">
      <a href="#" class="fw-bold odoc-brand small-brand title">ODOC</a>
      <div class="small text-black">The centralized archive for all OSIS SMAVO activities. Explore past events, track current progress, and participate in the future of our school organization.</div>
    </div>
    <ul class="list-inline mb-0 footer-links copy">
      <li class="list-inline-item"><a href="https://instagram.com/nar_renar">&copy; 2024 Rays Development. All rights reserved.</a></li>
    </ul>
    <div class="d-flex gap-2 icons">
      <a href="#" class="footer-icon-btn"><i class="bi bi-globe2"></i></a>
      <a href="#" class="footer-icon-btn"><i class="bi bi-envelope"></i></a>
    </div>
  </div>
</footer>
