<link rel="stylesheet" href="/css/guest-navbar.css">

<nav id="mainNavbar" class="navbar navbar-expand-lg guest-navbar sticky-top">
  <div class="container">
    <a class="navbar-brand odoc-brand" href="/">
      <span class="brand-mark"><i class="bi bi-boxes"></i></span> ODOC
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#guestNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="guestNav">
      <ul class="navbar-nav mx-auto gap-lg-2">
        <li class="nav-item"><a class="nav-link" href="/#home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/#archive">Archive</a></li>
        <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
      </ul>
      <form class="d-none d-lg-flex align-items-center search-pill me-3" role="search" action="/" method="GET">
        <i class="bi bi-search"></i>
        <input class="form-control border-0 bg-transparent shadow-none" type="search" name="q" placeholder="Search archive...">
      </form>
      <button class="theme-toggle-btn me-3 d-none d-lg-inline-flex" id="themeToggle" title="Toggle theme">
        <i class="bi bi-moon-stars"></i>
      </button>
      <% if (typeof currentUser !== 'undefined' && currentUser) { %>
        <a href="/admin" class="btn btn-primary rounded-pill px-4 login-btn">Dashboard<i class="ms-1 bi bi-speedometer2"></i></a>
      <% } else { %>
        <a href="/login" class="btn btn-primary rounded-pill px-4 login-btn">Login<i class="ms-1 bi bi-box-arrow-in-right"></i></a>
      <% } %>
    </div>
  </div>
</nav>
