.guest-footer {
  background: #edeff6;
  margin-top: 60px;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.guest-footer .title {
    font-size: 32px;
    font-weight: 800;
    color: var(--odoc-primary);
}

.footer-links a {
  color: var(--odoc-muted);
  margin: 0 10px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: var(--odoc-primary);
}

.footer-icon-btn {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--odoc-bg);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--odoc-muted);
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: var(--secondary-shadow-hover);
}

.footer-icon-btn:hover {
  scale: 1.03;
  color: var(--odoc-primary);
  transform: translateY(-2px);
}
